#backgroundContainer{
    background-image: url("fate5.jpg");
}
#logIn{
    margin-left: 215px;
    margin-top: 370px;
    color: white;
}
#inputTitle{
    margin: 0;
    font-size: 30px;
}
#inputUsername{
    margin-top: 8px;
    width: 170px;
    height: 20px
}
#inputPassword{
    margin-top: 10px;
    width: 170px;
    height: 20px
}
#submitForm{
    margin-top: 10px;
    width: 175px;
    background-color: #d5cc5c;
    color: white;
    font-size: 17px;
    border-width: 0;
}